.learning {
  padding: 80px 30px;

  background-color: #020617;

  color: white;
}

.learning-title {
  text-align: center;

  font-size: 40px;

  font-weight: bold;

  margin-bottom: 10px;
}

.learning-subtitle {
  text-align: center;

  color: #94a3b8;

  margin-bottom: 60px;

  font-size: 18px;
}

.learning-container {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;
}

.learning-card {
  background-color: #1e293b;

  padding: 30px;

  border-radius: 20px;

  transition: 0.3s;
}

.learning-card:hover {
  transform: translateY(-8px);

  background-color: #334155;
}

.learning-number {
  font-size: 42px;

  font-weight: bold;

  color: orange;
}

.learning-card h3 {
  margin-top: 20px;

  margin-bottom: 15px;

  font-size: 24px;
}

.learning-card p {
  color: #cbd5e1;

  line-height: 1.6;

  margin-bottom: 20px;
}

.learning-card code {
  display: block;

  background-color: #020617;

  padding: 12px;

  border-radius: 10px;

  margin-top: 10px;

  color: #22c55e;

  font-size: 14px;
}